:root {
  --animate-parallax-current: 0;
  --animate-parallax-total: 1;

  --transition-opacity-duration: 0.2s;

  --color-text: #222222;
  --color-text-inactive: rgba(0, 0, 0, 0.30);
  --color-box-primary: #CDB39A;
  --color-frame: #2D2D2D;
  --color-background: rgba(183, 100, 43, 0.7);

  --gradient-production-border: linear-gradient(180deg, #181818 0%, #2D2D2D 12%, #2D2D2D 88%, #636363 100%);
  --gradient-production-background: linear-gradient(180deg, #AA5C3A 0%, #843807 100%);
  --gradient-bar-background: linear-gradient(180deg, #E69252 0%, #A85020 100%);
  --gradient-box-border: linear-gradient(180deg, #7B7B7B 0%, #2D2D2D 12%, #2D2D2D 88%, #000 100%);
  --gradient-box-background: linear-gradient(180deg, #978271 0%, var(--color-box-primary) 25%, var(--color-box-primary) 75%, #EDE0D3 100%);
}

* {
  box-sizing: border-box;
  font-family: Goldman;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant-numeric: tabular-nums;
}

html {
  font-size: 16px;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app {
  --app-content-height: calc(100dvh - 32px - 70px - 10px);
  align-items: stretch;
  color: var(--color-text);
  display: grid;
  grid-template-columns: [left] 100lvw [right];
  grid-template-rows: [top] 32px [content] 10px [shadow-top-end] 1fr [shadow-bottom] 10px [end];
  height: 100dvh;
  min-width: 380px;
}

.app._with-toolbar {
  grid-template-rows: [top] 32px [content] 10px [shadow-top-end] 1fr [shadow-bottom] 10px [toolbar] 70px [end];
}

.app_main {
  background-image: url(/images/bg-portrait.jpg);
  background-position: calc(50% + 15% * var(--animate-parallax-current) / var(--animate-parallax-total)) center;
  background-repeat: no-repeat;
  grid-column: left / right;
  grid-row: content / toolbar;
  transition: background-position 0.3s ease-out;
  z-index: 1;
}

.app_shadow {
  grid-column: left / right;
  transition: box-shadow 0.3s linear;
  z-index: 2;
}

.app_shadow._top {
  grid-row: content / shadow-top-end;
}

.app_shadow._top._enabled {
  box-shadow: inset 0px 12px 12px -10px rgba(0, 0, 0, 0.6);
}

.app_shadow._bottom {
  grid-row: shadow-bottom / toolbar;
  bottom: 0;
}

.app_shadow._bottom._enabled {
  box-shadow: inset 0px -12px 12px -10px rgba(0, 0, 0, 0.6);
}

.app_content {
  align-items: flex-start;
  display: flex;
  flex: 100%;
  justify-content: center;
  min-height: 100%;
}

.app_content-overlay {
  grid-column: left / right;
  grid-row: top / end;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  opacity: 0;
  transition: opacity var(--transition-opacity-duration) linear;
}

.app_content-overlay._enabled {
  opacity: 1;
}

.modal {
  display: flex;
  height: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.modal_container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 24px 0;
  background-image: url(/images/bg-portrait.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  border-color: var(--color-frame);
  border-radius: 20px;
  border-style: solid;
  border-width: 4px;
  padding: 16px;
}

.modal_title {
  font-size: 1.5rem;
  text-align: center;
}

.modal_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.modal_target {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.modal_target-supply {
  padding: 20px;
  border-color: transparent;
  border-style: solid;
  border-width: 2px;
}

.modal_target-supply._production {
  background-repeat: repeat;
  background-size: 10px;
  background-image: var(--bg-production), var(--gradient-production-background);
  border-image-slice: 1;
  border-image-source: var(--gradient-production-border);
}

.modal_count {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.modal_count-label {
  width: 80px;
  font-size: 1.5rem;
}

.modal_count-label._left {
  text-align: right;
}

.modal_count-label._right {
  text-align: left;
}

.calculator {
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}

.scroll {
  overflow-y: scroll;
  height: 100%;
}

.scroll_detector {
  height: 5px;
}

.scroll_container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.panel {
  height: 100%;
  width: 100%;
}

.panel_container {
  display: grid;
  grid-auto-flow: column;
  margin-left: calc(-100lvw * var(--animate-parallax-current));
  height: 100%;
  overflow-x: hidden;
  touch-action: pan-y;
}

.panel_container._transition {
  transition: margin 0.3s ease-out;
}

.panel_item {
  display: flex;
  width: 100lvw;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

.homepage {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.player-cube {
  align-items: center;
  border-image-slice: 1;
  border-image-source: var(--gradient-box-border);
  border-style: solid;
  border-width: 2px;
  display: flex;
  height: 18px;
  justify-content: center;
  min-width: 18px;
  width: 18px;
}

.player-cube._black {
  background-color: #8D8F92;
}

.player-cube._blue {
  background-color: #3586FF;
}

.player-cube._green {
  background-color: #1DCF00;
}

.player-cube._red {
  background-color: #CF0000;
}

.player-cube._yellow {
  background-color: #FFF735;
}

.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 16px;
  padding: 20px 16px;
}

.project {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  gap: 16px;
}

.resource {
  align-items: center;
  display: flex;
  gap: 6px;
  justify-content: center;
  padding: 6px;
}

.resource._production {
  background-repeat: repeat;
  background-size: 9px;
  background-image: var(--bg-production), var(--gradient-production-background);
  border-image-slice: 1;
  border-image-source: var(--gradient-production-border);
  border-style: solid;
  border-width: 2px;
}

.resource_label {
  font-size: 1.5rem;
  color: #000;
}

.resource_icon {
  width: 32px;
  height: 32px;
}

.space {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
}

.space_caption {
  font-size: 1.4rem;
  text-align: center;
  color: var(--color-text);
}

.space_container {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 12px;
}

.waiting_players {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
