
.navbar {
  background: linear-gradient(to bottom, #d8782e 0%, #b26127 37%, #88441d 88%, #88441d 100%);
  border-bottom: 1px solid #6d381a;
}

.navbar--container {
  padding: 4px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar--logo {
  color: #ffffff;
  flex-grow: 10;
  font-family: Goldman, sans-serif;
  text-shadow: 2px 2px 2px #291202;
  text-transform: uppercase;
}
