/* latin */
@font-face {
  font-family: 'Goldman';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/goldman/v19/pe0uMIWbN4JFplR2HDVyB_24C94.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Goldman';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/goldman/v19/pe0uMIWbN4JFplR2HDtyB_24C95Scg.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

:root {
  --animate-parallax-current: 0;
  --animate-parallax-total: 1;

  --color-player-cube-black: #8D8F92;
  --color-player-cube-blue: #3586FF;
  --color-player-cube-green: #1DCF00;
  --color-player-cube-red: #CF0000;
  --color-player-cube-yellow: #FFF735;

  --color-text: #222222;
  --color-text-inactive: rgba(0, 0, 0, 0.30);
  --color-box-primary: #CDB39A;
  --color-frame: #2D2D2D;
  --gradient-production-border: linear-gradient(180deg, #181818 0%, #2D2D2D 12%, #2D2D2D 88%, #636363 100%);
  --gradient-production-background: linear-gradient(180deg, #AA5C3A 0%, #843807 100%);
  --gradient-bar-background: linear-gradient(180deg, #E69252 0%, #A85020 100%);
  --gradient-box-border: linear-gradient(180deg, #7B7B7B 0%, #2D2D2D 12%, #2D2D2D 88%, #000 100%);
  --gradient-box-background: linear-gradient(180deg, #978271 0%, var(--color-box-primary) 25%, var(--color-box-primary) 75%, #EDE0D3 100%);
}

* {
  box-sizing: border-box;
  font-family: Goldman;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

html {
  font-size: 16px;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app {
  align-items: stretch;
  background-image: url(../images/bg-portrait.jpg);
  background-position: calc(100% * var(--animate-parallax-current) / var(--animate-parallax-total)) center;
  background-repeat: no-repeat;
  color: var(--color-text);
  display: grid;
  grid-template-columns: [left] 100lvw [right];
  grid-template-rows: [top] 32px [content] 10px [shadow-top-end] auto [shadow-bottom] 10px [end];
  height: 100lvh;
  min-width: 380px;
  transition: background-position 0.5s ease-out;
}

.app.--with-toolbar {
  grid-template-rows: [top] 32px [content] 10px [shadow-top-end] auto [shadow-bottom] 10px [toolbar] 70px [end];
}

.app__main {
  grid-column: left / right;
  grid-row: content / toolbar;
  background-color: rgba(183, 100, 43, 0.6);
}

.app__shadow {
  grid-column: left / right;
  transition: box-shadow 0.3s linear;
}

.app__shadow.--top {
  grid-row: content / shadow-top-end;
}

.app__shadow.--top.--enabled {
  box-shadow: inset 0px 12px 12px -10px rgba(0, 0, 0, 0.6);
}

.app__shadow.--bottom {
  grid-row: shadow-bottom / toolbar;
  bottom: 0;
}

.app__shadow.--bottom.--enabled {
  box-shadow: inset 0px -12px 12px -10px rgba(0, 0, 0, 0.6);
}

.app__content {
  height: 100%;
}

.scroll {
  overflow-y: scroll;
  height: 100%;
}

.scroll__container {
  min-height: 100%;
}

.panel {
  display: grid;
  grid-auto-flow: column;
  margin-left: calc(-100lvw * var(--animate-parallax-current));
  transition: margin 0.5s ease-out;
  height: 100%;
  overflow-x: hidden;
}

.panel__item {
  display: flex;
  width: 100lvw;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

.content.--homepage {
  padding: 40px 0px;
  gap: 60px;
}

.player-cube {
  --background: transparent;
  align-items: center;
  background: var(--background);
  border-image-slice: 1;
  border-image-source: var(--gradient-box-border);
  border-style: solid;
  border-width: 2px;
  display: flex;
  height: 18px;
  justify-content: center;
  min-width: 18px;
  width: 18px;
}

.supplies {
  align-items: center;
  display: grid;
  gap: 20px 12px;
  grid-template-columns: [production] 1fr [icons] 1fr [amount] 1fr [end];
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 100%;
  justify-items: center;
  padding: 24px 16px;
  width: 100%;
}

.supplies__production {
  background-repeat: repeat;
  background-size: 10px;
  background-image: var(--bg-production), var(--gradient-production-background);
  border-image-slice: 1;
  border-image-source: var(--gradient-production-border);
  border-style: solid;
  border-width: 2px;
  grid-column: production / icons;
  grid-row: 2 / 8;
  height: 100%;
  width: 100%;
}

.supply {
  height: 64px;
  width: 64px;
}

.supply.--production {
  grid-column: production / icons;
}

.supply.--icon {
  grid-column: icons / amount;
}

.supply.--amount {
  grid-column: amount / end;
}

.supply.--points {
  grid-row: 1 / 2;
}

.supply.--gold {
  grid-row: 2 / 3;
}

.supply.--steel {
  grid-row: 3 / 4;
}

.supply.--titan {
  grid-row: 4 / 5;
}

.supply.--plant {
  grid-row: 5 / 6;
}

.supply.--energy {
  grid-row: 6 / 7;
}

.supply.--heat {
  grid-row: 7 / 8;
}

.supply.--production.--points {
  display: none;
}

.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 16px;
  padding: 20px 16px;
}

.project {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  gap: 16px;
}

.resource {
  align-items: center;
  display: flex;
  gap: 6px;
  justify-content: center;
  padding: 6px;
}

.resource.--production {
  background-repeat: repeat;
  background-size: 9px;
  background-image: var(--bg-production), var(--gradient-production-background);
  border-image-slice: 1;
  border-image-source: var(--gradient-production-border);
  border-style: solid;
  border-width: 2px;
}

.resource__label {
  font-size: 1.5rem;
  color: #000;
}

.resource__icon {
  width: 32px;
  height: 32px;
}

.edit-box {
  align-items: stretch;
  background: var(--color-box-primary);
  border-color: var(--color-frame);
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 50px;
}

.edit-box.--input {
  justify-content: start;
}

.edit-box.--selector {
  justify-content: space-between;
  padding-right: 12px;
}

.edit-box__label {
  padding: 0px 12px;
  font-size: 1.1rem;
  align-self: center;
}

.edit-box__input {
  background: var(--gradient-box-background);
  border: none;
  border-bottom-right-radius: 8px;
  border-left: 2px solid var(--color-frame);
  border-top-right-radius: 8px;
  font-size: 1.2rem;
  justify-content: center;
  outline: none;
  padding: 0 12px;
  width: 100%;
}

.settings__form {
  padding: 20px 0;
}

.settings__legend {
  font-size: 1.4rem;
  text-align: center;
  color: var(--color-text);
}

.settings__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 12px;
}
