.box {
  align-content: center;
  align-items: center;
  background: var(--gradient-box-background);
  border-style: solid;
  border-width: 4px;
  display: flex;
  flex-wrap: wrap;
  font-size: 2rem;
  justify-content: center;
  outline: none;
  padding: 4px;
  text-align: center;
  user-select: none;
}

.box.--button {
  border-image-slice: 1;
  border-image-source: var(--gradient-box-border);
  background: var(--color-box-primary);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

.box.--button:active {
  background: var(--gradient-box-background);
  box-shadow: none;
}

.box.--counter {
  border-image-slice: 1;
  border-image-source: var(--gradient-box-border);
  width: 80px;
  height: 40px;
}

.box.--action {
  background: var(--color-box-primary);
  border-radius: 10px;
  border-color: var(--color-frame);
  padding: 12px;
  min-height: 50px;
  font-size: 1.2rem;
  border-width: 2px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

.box.--action:active {
  background: var(--gradient-box-background);
  box-shadow: none;
}

.box.--project {
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
}
