.toolbar {
  align-items: center;
  background: var(--gradient-bar-background);
  border-top: 1px solid #F0A66D;
  display: flex;
  flex-shrink: 0;
  grid-column: left / right;
  grid-row: toolbar / end;
  justify-content: space-between;
}

.toolbar_item {
  align-items: center;
  background: none;
  border: none;
  color: var(--color-text-inactive);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex: 1;
  gap: 3px;
  justify-content: center;
  overflow: hidden;
}

.toolbar_item._active {
  color: var(--color-text);
}

.toolbar_icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.toolbar_label {
  font-size: 0.9rem;
}
