.selector {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
}

.selector_panel {
  --index: 0;
  --panel-width: 120px;
  overflow-x: hidden;
  width: var(--panel-width);
  max-width: var(--panel-width);
}

.selector_panel-container {
  display: grid;
  grid-auto-flow: column;
  margin-left: calc(-1 * var(--panel-width) * var(--index));
  transition: margin 0.5s ease-out;
  width: 100%;
}

.selector_panel-item {
  display: flex;
  gap: 6px;
  width: var(--panel-width);
  justify-content: center;
}

.selector_icon {
  width: 16px;
  height: 16px;
  color: var(--color-text);
}

.selector_icon._disabled {
  color: var(--color-text-inactive);
}
